doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Milligram + Bootstrap Grid
        link(rel="stylesheet", href="milligram.min.css")
        link(rel="stylesheet", href="columnas-bootstrap.css")
    body
        .container
            h3 Test col-1 a col-12
            
            .row
                .col-1 1
                .col-1 1
                .col-1 1
                .col-1 1
                .col-1 1
                .col-1 1
                .col-1 1
                .col-1 1
                .col-1 1
                .col-1 1
                .col-1 1
                .col-1 1
            
            .row
                .col-6 50%
                .col-6 50%
            
            .row
                .col-4 33%
                .col-4 33%
                .col-4 33%