extends layout

block contenido
    .container.mt-5
        h1 Actividad 3 - Columnas Duplicadas
        
        .row.mb-4
            .col-2.bg-primary.text-white.p-3 col-2 (ahora 4)
            .col-2.bg-secondary.text-white.p-3 col-2 (ahora 4)
            .col-2.bg-success.text-white.p-3 col-2 (ahora 4)
        
        .row
            .col-md-3.bg-info.text-white.p-3 col-md-3 (ahora 6)
            .col-md-3.bg-warning.text-dark.p-3 col-md-3 (ahora 6)