extends layout

block contenido
    nav.navbar.bg-white.border-bottom.border-dark
        .container
            a.navbar-brand(href="#") LOGO
            .mx-auto
                a.nav-link.d-inline.px-3(href="#") Catalog
                a.nav-link.d-inline.px-3(href="#") About
                a.nav-link.d-inline.px-3(href="#") Contacts
            input(type="text" placeholder="search")
            span 🛒

    .container.mt-5
        .row
            .col-md-6.col-12.mb-3
                .caja-gris.altura-grande
            
            .col-md-6.col-12.mb-3
                h1 Nombre producto
                h2 120.99 €
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, a, asperiores obcaecati amet eos est inventore incidunt quia minima vitae earum excepturi. Consectetur accusantium explicabo, deleniti vitae maxime optio corrupti.

            .col-md-6.col-12.mb-3
                .row
                    .col-md-3.col-12.mb-2: .caja-gris.altura-peque
                    .col-md-3.col-12.mb-2: .caja-gris.altura-peque
                    .col-md-3.col-12.mb-2: .caja-gris.altura-peque
                    .col-md-3.col-12.mb-2: .caja-gris.altura-peque

            .col-md-6.col-12.text-md-center
                .mt-4
                    button.btn.borde-negro.w-50 Añadir al carrito