doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        title Test 10 Cols
        link(rel="stylesheet", href="../css/mis_estilos.css")
        
        style .column { background: #bbb; height: 50px; border: 1px solid black; text-align: center; color: white; font-weight: bold; }

    body
        .container(style="margin-top: 50px")
            h3 Prueba  10 Columnas
            .row
                .one.column 1
                .one.column 2
                .one.column 3
                .one.column 4
                .one.column 5
                .one.column 6
                .one.column 7
                .one.column 8
                .one.column 9
                .one.column 10
                


        button.button.btn-primary Primary
        button.button.btn-secondary Secondary
        button.button.btn-success Success
        button.button.btn-warning Warning
        button.button.btn-danger Danger