<!DOCTYPE html>
<html lang="en">
<head>
  include cabecera
</head>
<body>
  .container 
    .row 
      .twelve.columns
        header
          h1 El badulaque
    .row 
      .two.columns
        ul.nav_vertical
          li: a(href="/") Home
          li: a(href="/about") About
          li: a(href="/contact") Contact
      .ten.columns
        h1 Main Content
    .row 
      .twelve.columns
        footer 
          p &copy; 2024 El badulaque
</body>
</html>
