@mixin generar_columnas($dimension) {
  $nombres: one, two, three, four, five, six, seven, eight, nine, ten;

  @each $tam in $nombres {
    $i: index($nombres, $tam) - 1;
      .#{$tam}-#{$dimension}.column,
      .#{$tam}-#{$dimension}.columns {
        width: 6.4% + ($i * 10.4%);
    
      @if $tam == ten {
        margin-left: 0;
      }
    }

    .offset-#{$dimension}-by-#{$tam}.column,
    .offset-#{$dimension}-by-#{$tam}.columns{ 
      margin-left: 10.4%*($i+1);
    }
  }
} 

$boton-temas: (
  "primary":    #33C3F0,
  "secondary":  #9b4dca, 
  "success":    #2ecc71, 
  "warning":    #f1c40f, 
  "danger":     #e74c3c  
);

@mixin generar-botones($mapa) {
  @each $nombre, $color in $mapa {
    .btn-#{$nombre} {
      background-color: $color;
      border-color: $color;
      color: white; 
      
      &:hover {
        background-color: darken($color, 10%);
        border-color: darken($color, 10%);
      }
    }
  }
}