
@mixin generar_columnas ( $dimension){
  $i: 0;
  
  @each $tam in one, two, three, four, five, six, seven, eight, nine, ten {
    @if $tam ==one{
      .#{$tam}-#{$dimension}.column{ 
        width: 6.4%; 
      }
      
    }
    .#{$tam}-#{$dimension}.columns {
      width: 6.4% + $i*10.4%;
    
      @if $tam == twelve {
        margin-left: 0;
      }
    }

    .offset-#{$dimension}-by-#{$tam}.column,
    .offset-#{$dimension}-by-#{$tam}.columns{ 
      margin-left: 10.4%*($i+1);
    }
    $i: $i + 1;
    
  }
} 