@use 'normalize';        
@use 'variables';        
@use 'mixins' as *;      
@use 'skeleton';         
@use 'temas';            
@use 'tam_lg';           
@use 'misc';             
@use 'nav';              

@include generar_columnas('mobile'); 
@include generar_columnas('tablet'); 
@include generar_columnas('desktop'); 
@include generar-botones($boton-temas);